name: "Create a new release"

on:
  push:
    tags:
      - "v**"

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - run: gh release create $TAG --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
